*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    gap: 20px;
}
/* HAMBURGER BUTTON */
.hamburger{
    display: none;
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 26px;
    background: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px){

    header{
        transform: translateX(-100%);
        transition: 0.3s ease;
    }
    body{
        margin-left: 0%;
    }

    header.active{
        transform: translateX(0);
    }

    .hamburger{
        display: block;
    }

    .main-section{
        margin-left: 0;
        width: 100%;
        margin-left: -0;
    }
    .nav a.active{
        background-color: rgb(231, 243, 255);  
        border-radius: 5px;
        color: rgb(94, 94, 255);
    }
    .main-section{
        margin-left: -250px;
    }
    .profile{
        width: 80px;
        height: 110px;
}
}
header{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color:rgb(247, 247, 247);
    height: 100vh;
    border: 0.5px solid rgb(233, 233, 233);
    overflow-y: scroll;
    position: fixed;
}
.profile{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.program a{
    color: rgb(94, 94, 255);
    font-size: 13.5px;
}
.program{
    margin-bottom: 40px;
    text-align: center;
}
.copy{
    font-size: 11.5px;
    color: #636363;
    margin-top: 30px;
    width: 210px;
    margin-top: 30px222;
    text-align: center;
}
.main-section{
    display: flex;
    flex-direction: column;
    margin-left: 300px;
}
.navi{
    font-size: 14px;
    font-weight: 550;
    margin-bottom: 20px;
    margin-left: 70px;
    color: rgb(94, 94, 255);
    margin-top: 50px;
    margin-bottom: 10px;
}
.who{
    font-size: 15px;
    margin-bottom: 60px;
    margin-top: 20px;
    font-weight: 550;
}
strong{
    color: #525252;
}
.about-text{
    color: #6b6b6b;
}
section{
    height: 700vh;
}
section p{
    margin-left: 70px;
    width: 780px;
    
}
.port{
    font-size: 20px;
    margin-bottom: 10px;
}
p a{
    color: black;
}
nav ul,li{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-size: 13.5px;
}
nav a{
    padding: 10px 15px;
    font-weight: 400;
    color: #525252;
}
nav a:hover{
    background-color: rgb(228, 238, 248);  
    border-radius: 5px;
    color: rgb(94, 94, 255);
}
.main{
    display: flex;
    justify-content: center;
    padding-left: 150px;
    margin-top: 80px;
    z-index: 2;
}
.prog{
    font-size: 55px;
    font-weight: 550;
    margin-top: 30px;
}
.add{
    font-size: 20px;
    margin-top: 15px;
    color: #5e5d5d;
}
